<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
	<div class="main-container">
		
		<div class="page-title">
			<h3>
				{{title}}
			</h3>
		</div>

		<div class="inputs-container">
			
			<form class="form-inline">
				
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon" id="span-MXN">MXN</span>
						<input name="mxnInput" type="number" class="form-control" placeholder="Amount" aria-describedby="span-MXN" [(ngModel)]="mxnInput" (change)="calculateFromMXN()">
					</div>
				</div>

				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon" id="span-USD">USD</span>
						<input name="usdInput" type="number" class="form-control" placeholder="Amount" aria-describedby="span-USD" [(ngModel)]="usdInput" (change)="calculateFromUSD()">
					</div>
				</div>

				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon" id="span-CRC">CRC</span>
						<input name="crcInput" type="number" class="form-control" placeholder="Amount" aria-describedby="span-CRC" [(ngModel)]="crcInput" (change)="calculateFromCRC()">
					</div>
				</div>

			</form>

		</div>
	</div>
</div>

